SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DATABASE_NAME=natysync
DATABASE_USERNAME=natysync
DATABASE_PASSWORD=natysync
DATABASE_PORT=5432

NATY_API_URL=https://api.naty.app/v3
NATY_API_TOKEN=

SINCRONIZACAO_HABILITADA=false
SINCRONIZACAO_CRON=0 0 3 * * *

APP_CORS_ORIGENS=http://localhost:*
