SPRING_PROFILES_ACTIVE=dev
SERVER_PORT=8080

DATABASE_NAME=natysync
DATABASE_USERNAME=natysync
DATABASE_PASSWORD=natysync
DATABASE_PORT=5433

APP_CORS_ORIGENS=http://localhost:*

APP_SESSAO_EXPIRACAO=7d
APP_SENHA_FORCA_HASH=10
